<%= form_for @group do |f| %>
  <% if @group.errors.any? %>
    <br>
    <% @group.errors.full_messages.each do |msg| %>
      <font color="red">Error: <%= msg %></font>
    <% end %>
  <% end %>
  <p> <%= f.label :name %> <br> <%= f.text_field :name %> </p>
  <p> <%= f.submit %> </p>
<% end %>
